header {
  display: flex;
  text-wrap: balance;
  /* background-color: red; */
  flex-wrap: wrap;
  /* text-align: center; */
  width: 80vw;
  div {
    p {
      font-family: shanti;
      font-size: 24px;
    }
  }

  h1, h2 {
    margin-top: 0;
  }

  h1 {
    margin-bottom: .3rem;
  }
}

@media screen and (max-width: 768px) {
  
  header {
    align-items: center;
    display: flex;
    flex-direction: column;
    place-content: center;
    text-align: center;
    /* place-self: center; */
    /* background-color: red; */
    /* width: 60%; */

    section {
      /* width: 100vw; */

      div:first-child {
        display: flex;
        flex-wrap: wrap;
        gap: .3em;
        /* justify-content: space-around; */
      }

      div {
        align-items: center;
        /* border: var(--border-style); */
        display: flex;
        place-content: center;

        button {
          margin-right: 10px;
        }
      }
    }

  }
}

@media screen and (min-width: 1024px) {
 
  header {
    display: flex;
    flex-direction: column;
    width: 30vw;

    position: sticky;
    top: 0;

    section {
      width: 24rem;

      div:first-child {
        display: flex;
        justify-content: space-between;
      }

      div {
        align-items: center;
        border: var(--border-style);
        display: flex;
        border: 1px solid var(--accent);

        button {
          margin-right: 10px;
        }
      }
    }
  }
}
