button {
  width: 30%;
}

dialog {
  background: var(--bg);
  border: none;
  border-radius: 8px;
  color: var(--beige);
  margin: auto;
  padding: 1em;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
  }

  div {
    display: flex;
    flex-direction: column;
    /* place-content: center; */
    margin: 0 auto;
    gap: 1em;

    
  }
}

div, div.cell.flagged {
  display: flex;
  place-content: center;
  align-items: center;
  font-size: clamp(5px, 1vw, 45px);
  text-align: center;
}

main {
  align-items: center;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  gap: 1em;
  place-content: center;
  min-height: 100vh;
  overflow: hidden;
  
  article {
    width: 80vw;
    max-width: 550px;
  }
}

/* @media screen and (min-width: 360px) {
  main {
    article {
      div {
        font-size: 25px;
        text-align: center;
        width: 100%;
      }
    }
  }
} */

@media screen and (max-width: 750px) {
  dialog {
    width: 75%;
    height: fit-content;
    
    div {
      width: fit-content;
      font-size: 18px;
      text-wrap: balance;
      padding: .3em;
      
      span {
        margin-left: 0;
        display: flex;
        place-self: left;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  dialog {
    width: 50%;
    height: fit-content;
    
    div {
      width: fit-content;
      font-size: 18px;
      text-wrap: balance;
      padding: .3em;
      
      span {
        margin-left: 0;
        display: flex;
        place-self: left;
      }

      button {
        /* background-color: red; */
        width: 100%;
      }
    }
  }
}

main {
  article {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0.3rem;
    margin: 0 auto;
    align-self: center;
    place-self: center;

    div {
      aspect-ratio: 1/1;
      background-color: rgba(var(--accent), 20%);
      border: var(--border-style);
      border-radius: 2px;
      text-align: center;
    }

    div.cell.flagged {
      background-color: rgba(134, 185, 134, 0.2);
      border: 1px solid rgb(186, 255, 186);
    }

    div.cell.revealed {
      background-color: rgba(163, 163, 163, 0.2);
      border: 1px solid rgb(162, 162, 162);
    }
  }

}



.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: transparent;
}

div.cell.revealed {
  background-color: rgba(134, 185, 134, 0.728);
  border: 1px solid rgb(186, 255, 186);
}

div.cell.flagged {
  background-color: rgba(134, 185, 134, 0.728);
  border: 1px solid rgb(186, 255, 186);
  /* background-color: #fdd; */
}

div.cell.mine {
  background-color: red;
  color: white;
}

