<main #fullscreenContainer>
  <section>
    <dialog #howToPlay (click)="$event.stopPropagation()">
      <div>
        <h2>How to Play Minesweeper</h2>
        <span>- Click on a cell to reveal it. Avoid mines!</span>
        <span>- Numbers indicate how many adjacent mines</span>
        <span>- Right-click (or long press) to flag a suspected mine</span>
        <button (click)="toggleHowToPlay()">Close</button>
      </div>
    </dialog>

    <dialog #gameOver (click)="$event.stopPropagation()">
      <div>
        <h2>You {{ referee.condition ? 'Win': 'Lose' }}!</h2>
        
        <button (click)="reset()">play again</button>
        <a href="">return</a>
      </div>
    </dialog>
    @if(showHowToPlay) {
      <div class="modal-backdrop" (click)="toggleHowToPlay()"></div>
    }
  </section>
    @if (hasStarted) {
      <article>
        @for (cell of board; track $index) {
          <div
            class="cell"
            [class.revealed]="cell.revealed"
            [class.mine]="cell.revealed && cell.hasMine"
            [class.flagged]="cell.flagged"
            (contextmenu)="toggleFlag(cell, $event)"
            (click)="reveal(cell)"
          >
            {{ showCellContent(cell) }}
            <!-- {{ cell.hasMine ? 'true': '' }} -->

          </div>
        }
      </article>
      <button (click)="reset()">restart</button>
    } @else {
      <button (click)="startGame()">start</button>
    }

    <button (click)="toggleHowToPlay()">How to Play</button>
  <a href="">return</a>
</main>
