header {
  display: flex;
  
  div {
    p {
      font-family: shanti;
      font-size: 24px;
    }
  }

  h1, h2 {
    margin-top: 0;
  }

  h1 {
    margin-bottom: .3rem;
  }
}

@media screen and (max-width: 768px) {

  header{
    align-items: center;

  }
  
  header {
    display: flex;
    flex-direction: column;
    
    section {
      width: 100vw;

      div:first-child {
        display: flex;
        justify-content: space-evenly;
      }

      div {
        align-items: center;
        /* border: var(--border-style); */
        display: flex;
        place-content: center;

        button {
          margin-right: 10px;
        }
      }
    }

  }
}

@media screen and (min-width: 1024px) {
 
  header {
    display: flex;
    flex-direction: column;
    width: 30vw;

    position: sticky;
    top: 0;

    section {
      width: 24rem;

      div:first-child {
        display: flex;
        justify-content: space-evenly;
      }

      div {
        align-items: center;
        border: var(--border-style);
        display: flex;
        border: 1px solid var(--accent);

        button {
          margin-right: 10px;
        }
      }
    }
  }
}
