header {
  display: flex;
  div {

    a {
      background-color: var(--accent);
      border-radius: var(--border-radius);
      color: var(--white);
      padding: .4rem;
      text-decoration: none;
      transition: .33s cubic-bezier(0,.68,.58,.73);
    }

    a:hover {
      color: var(--bg );
      background-color: var(--white);
    }
  }
}

@media screen and (min-width: 380px) {

  header > h2, header > svg {
    align-self: center;
  }
  
  header {
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    section {
      
      div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        a {
          margin: 0 auto;
        }
      }
    }

  }

  img {
    /* justify-self: center; */
  }

}

@media screen and (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    width: 30vw;
    /* align-items: center; */

    section {
      
      div {
        display: flex;
        justify-content: space-arround;
        align-items: center;
        width: 100%;

        a {
          margin: 0 auto;
        }
      }
    }
  }
}