<header>
    <svg width="200" height="200" viewBox="0 0 589 322" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="164" width="45" height="164" transform="rotate(90 164 0)" fill="#EEF1F3" />
        <rect x="164" y="277" width="45" height="164" transform="rotate(90 164 277)" fill="#EEF1F3" />
        <rect width="45" height="164" transform="matrix(4.37114e-08 1 1 -4.37114e-08 425 0)" fill="#EEF1F3" />
        <rect width="45" height="164" transform="matrix(4.37114e-08 1 1 -4.37114e-08 425 277)" fill="#EEF1F3" />
        <rect x="330" width="45" height="154" fill="#EEF1F3" />
        <rect x="375" width="45" height="164" transform="rotate(90 375 0)" fill="#EEF1F3" />
        <rect x="375" y="109" width="45" height="164" transform="rotate(90 375 109)" fill="#EEF1F3" />
        <path d="M389.518 320.329H345.518L291.65 172.329H335.65L389.518 320.329Z" fill="#FF0763" />
        <rect x="123" width="41" height="322" fill="#FF0763" />
        <rect width="41" height="322" transform="matrix(-1 0 0 1 466 0)" fill="#FF0763" />
    </svg>
    <h2>Full Stack Developer</h2>
    <section>
        <div>
            <a href='https://www.linkedin.com/in/diego-alejandro-rej%C3%B3n-clemente-151065177/'
                target="_blank">Linkedin
            </a>
            <a href='https://github.com/drejon' target="_blank">GitHub
            </a>
            <a href='https://gitlab.com/drc.working/' target="_blank">GitLab
            </a>
            <a href="assets/cv.pdf" download="diego_rejon.cv">Curriculum</a>
        </div>
        <div>
            <!-- <button [cdkCopyToClipboard]="copy()">Copy</button> -->
            <button>Copy</button>
            <p>drc.working&#64;gmail.com</p>
        </div>
    </section>
</header>