@media screen and (min-width: 364px) {
	main {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		width: 80vw;

		aside {
			/* width: 10px; */
			/* background-color: red; */
		}
	}

}

@media screen and (min-width: 1024px) {

	aside {
		/* border-left: 1px solid rgb(var(--accent)); */
		padding-left: 1em;
		width: 42rem;

	}

	main {
		background-color: var(--bg);
		display: grid;
		grid-template-columns: auto 1fr;
		justify-content: space-between;
		margin: 0 auto;
		/* width: 100%; */
		width: 80vw;
	}
}
