.renderer-container {
  width: 100%;
  height: 100vh;
  background: #000;
  overflow: hidden;
}

:host {
  display: block;
  width: 100%;
  height: 500px;
}

.renderer-container {
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  /* background: #111; */
}
