main {
  display: flex;
  place-content: center;
  min-height: 100vh; 
  /* align-items: center; */
  /* margin: 0 auto; */

  section {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0.3rem;
    margin: 0 auto;
    align-self: center;
    place-self: center;
    width: 50%;

    div {
      aspect-ratio: 1/1;
      background-color: rgba(var(--accent), 20%);
      border: var(--border-style);
      border-radius: var(--border-radius);
      width: 1/8%;
  
      &:hover {
        background-color: rgba(var(--yellow), 40%);
      }
    }
  }
  
}
