.studies {
  /* text-wrap: balance; */
  display: grid;
  gap: 1rem;

  .study {
    border-left: var(--border-style);
    height: fit-content;
    padding: 0 1rem;

    h2 {
      margin-top: 0;
    }

    h3 {
      color: rgb(var(--clay));
    }

    h4 {
      color: var(--grey);
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .studies {
    grid-template-columns: repeat(auto-fit, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .studies {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}