html {
    --bg:#1D262C;
    --accent: #FF0763;
    --salmon: #DE6781;
    --white: #EEF1F3;
    --grey: #c3c9cd;
    --blue: #2ca6a4;
    --yellow: #F6AE2D;
    --clay:rgb(144, 94, 94);

    --border-style: 2px solid var(--accent);
    --border-radius: 0.25rem;

    background-color: var(--bg);
    color: var(--white);
    font-size: 18px;
}