html {
    --bg:#1D262C;
    --accent: #FF0763;
    --salmon: #DE6781;
    --white: #EEF1F3;
    --grey: #c3c9cd;
    --blue: #2ca6a4;
    --yellow: #F6AE2D;
    --clay:rgb(144, 94, 94);

    --border-style: 2px solid var(--accent);
    --border-radius: 0.25rem;

    background-color: var(--bg);
    color: var(--white);
    font-size: 18px;

    a {
        background-color: var(--accent);
        border-radius: var(--border-radius);
        color: var(--white);
        padding: .4rem;
        text-decoration: none;
        transition: .33s cubic-bezier(0,.68,.58,.73);
      }
  
      a:hover {
        color: var(--bg );
        background-color: var(--white);
      }

    hr {
        margin: 2rem 0;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
